.SearchBar {
    margin: 20px;
}

.SearchBar input {
    width: 50%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px black solid;
    border-radius: 1rem;
}

.SearchButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #1DB954;
    border: none;
    color: white;
    cursor: pointer;
}

/*mobile view*/
@media (max-width: 400px) {
    .SearchBar {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .SearchBar input {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }

    .SearchButton {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }
}
