.Track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.Track-information {
    text-align: left;
}

.Track-action {
    padding: 10px;
    background-color: #1DB954;
    border: none;
    color: white;
    cursor: pointer;
}

/*mobile view*/
@media (max-width: 400px) {

    .Track {
        display: grid;
        padding: 1rem 10%;
    }

    .Track-action button{
        width: 70%;
        padding: 12px;
        font-size: 18px;
        margin: 0.5rem auto;
    }
}
